@media (max-width: 1500px) {
    .promo__list {
        gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 217px) 418px;
    }

    .promo__link_sale_15-bottom:after {
        bottom: 10px;
        right: 10px;
    }

    .promo__link_sale_25-top:after {
        top: 10px;
        left: 10px;
    }

    .promo__link_sale_25-bottom:after {
        bottom: 10px;
        right: 10px;
    }

    .promo__link_sale_40-top:after {
        top: 10px;
        left: 10px;
    }

    .promo__link_sale_55-bottom:after {
        bottom: 10px;
        right: 10px;
    }

    .promo__link_title_bottom {
        padding: 20px;
    }

    .promo__text_title {
        font-size: 30px;
        width: 70%;
    }

/* -------------------------------------- */

    .promo__link_category_book {
        padding: 20px 9px;
    }

    .promo__text_category_book {
        font-size: 24px;
        max-width: 189px;
    }

    .promo__text_category_book span {
        font-size: 30px;
    }

    .promo__link_category_discont {
        padding: 58px 9px 0;
    }

    .promo__text_category_discont {
        font-size: 24px;
    }

    .promo__link_category_sneakers {
        padding: 22px;
    }

    .promo__text_category_sneakers {
        font-size: 30px;
        padding: 29px 25px;
    }

    .promo__text_category_sneakers span {
        font-size: 40px;
    }

    .promo__item_category_present {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .promo__item_category_month-discont {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }

    .promo__link_category_acсess {
        padding: 39px 30px;
    }

    .promo__item_category_acсess {
        grid-column: 1 / 5;
        grid-row: 5 / 6;
    }

    .promo__item_category_dress {
        grid-column: 3 / 4;
        background-position: top;
    }

    .promo__item_category_kitchen {
        grid-column: 4 / 5;
    }

    .promo__link_category_kitchen {
        padding: 14px;
    }

    .promo__text_category_kitchen {
        font-size: 20px;
    }

    .promo__item_category_christmas {
        grid-column: 4 / 5;
    }
}