@media (max-width: 1380px) {
    .promo__banner {
        margin-bottom: 22px;
    }
    
    .promo__list {
        gap: 24px;
    }

    .promo__text_category_access {
        font-size: 30px;
        padding: 23px 47px;
        border-radius: 16px;
    }
}

